<!DOCTYPE html>
<html lang="en"> 
    <head>
<meta charset="UTF-8">
<title>Todo App</title>
    </head>
<body>



    <h1>Todo List</h1>
    <div>Add a new todo item:
        <form action="/add" method="POST">      


         <input required type="text" name="todoitem"> 
         <input type="submit" value="Add Item"> 


        </form>
        </div>
    <div>
            <h2>Incomplete Items</h2>
<ul>
    {%for todo in incomplete%}
    <li style="font-size: 20pt">{{todo.text}} <a href="{{url_for('complete', id=todo.id)}}">Mark as complete</a>
    </li>
    {%endfor%}
</ul>


</div>

<div>
        <h2>Complete Items</h2>
<ul>
{%for todo in complete%}
<li style="font-size: 20pt; color:green;" >{{todo.text}} <a href="{{url_for('drop', id=todo.id)}}">Delete from database</a>
</li>
{%endfor%}
</ul>


</div>
</body>
</html>

